.publications-hr {
    padding: 0;
    border: none;
    height: 1px;
    border-radius: var(--borderRadius1);
    background-color: var(--darkBlue);
}

.publications-h2 {
    color: var(--darkBlue);
    text-align: center;
    margin-bottom: 0;
}

.row-img {
    display: block;
    margin: .75rem auto;
    max-width: calc(100% - 1rem);
}

.hide-me {
    display: none;
}

.publication-ol {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.doi-url {
    color: var(--blue);
    text-decoration: none;
}